<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is the home page</h1>
   
    <h3><%= 3*5 %></h3>
    <h3><%= ["hello", "hii", "namste"] [2] %> </h3>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo laborum a expedita tempore consectetur iste numquam aperiam qui culpa recusandae eos, minima, sit voluptatem. Assumenda, pariatur ad! Soluta nihil, quas quo fuga dolor veritatis unde qui odit eos consequuntur molestias ducimus aliquam labore, sint nostrum enim ex natus debitis laboriosam!
    </p>

    <button>
        click Me
    </button>
</body>
</html>