<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Roll dic</h1>
  

  <h1>
    dice gave value : <%= diceval %>
  </h1>
   <% if (diceval==6) { %>   <%#  here we use scriptlet or control flow tag of ejs tags%>
    <h2> Nice! Roll dice again</h2>

   <% } %>

</body>
</html>